@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: local("Segoe UI Light");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: local("Segoe UI Semilight");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  src: local("Segoe UI Semibold");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: local("Segoe UI Bold");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: local("Segoe UI Italic");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 700;
  src: local("Segoe UI Bold Italic");
}

html {
  height: 100%;
  background: rgb(29, 28, 27);
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

#container {
  text-align: center;
  min-height: 100%;
  position: relative;
}

header {
  height: 100px;
  background-color: rgb(32, 31, 29);
  box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
}

header > a {
  text-decoration: none;
  color: white;
}

#body {
  padding-bottom: 38px;
}

#sidebar {
  min-width: 100px;
  text-align: right;
  font-size: 0.8em;
  position: absolute;
  top: 30px;
  right: 10px;
}

#sidebar a {
  color: #CCCEBE;
}

#blueprints {
  position: absolute;
  bottom: 60px;
  width: 100%;
  height: 168px;
  overflow-y: auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.blueprint {
  position: relative;
  overflow: hidden;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
  color: #A09E92;
}

footer a {
  text-decoration: none;
  color: #A09E92;
}

h2, h3, h4, footer a {
  font-weight: 600;
}

h1 {
  margin: 0;
  padding: 10px;
  border-radius: 7px;
  font-weight: 300;
  font-size: 3em;
}

#body > h2 {
  margin-bottom: 0;
}

.glow {
  color: #D1D0D0;
}

.glow:hover {
  color: rgb(230,230,230);
  text-shadow: 0 0 10px rgba(255,255,255,0.4);
}

.itemlist {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}

.itemlist .item {
  float: left;
}

ul {
  padding: 0;
  list-style: none;
}

.item {
  background: rgba(50, 50, 47, .8) center no-repeat;
  background-size: 98px;
  border: 1px solid #363634;
  border-radius: 11px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, .15);
  cursor: pointer;
  height: 77px;
  margin: 3px;
  position: relative;
  width: 100px;
}

.item-small {
  background-size: 80px;
  background-repeat: no-repeat;
  float: left;
  height: 76px;
  margin: 4px;
  position: relative;
  width: 80px;
}

.button, .button-small {
  color: white;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.2em;
  padding: 8px;
  display: inline-block;
  background-color: rgb(43, 42, 39);
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover, .button-small:hover {
  background-color: rgb(51, 50, 46);
}

.button-small {
  font-size: 1.05em;
}

#buy {
  position: absolute;
  bottom: 8px;
  right: 7px;
}

#buybutton {
  display: inline-block;
  position: relative;
  background-image: url("http://media.steampowered.com/apps/tf2/btn_buynow.png");
  background-position: top;
  top: 7px;
  margin-left: 5px;
  width: 97px;
  height: 24px;
}

#buybutton:hover {
  background-position: bottom;
}

#itembox, .itembox {
  display: none;
  z-index: 1;
  color: #EAEBD7;
  background-color: rgb(39, 39, 37);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
  border-radius: 5px;
  width: 540px;
  height: 650px;
  margin-top: -325px;
  margin-left: -270px;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
}

#itemname, .itemname {
  margin-bottom: 5px;
  color: #D1D0D0;
}

#itemname {
  display: inline-block;
  margin-left: 23px;
}

#shortlinkbutton {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding-left: 5px;
}

#shortlink > input {
  text-align: center;
  width: 110px;
  color: rgb(178, 178, 178);
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 0 8px 0;
  padding: 4px;
  border-style: none;
  border-radius: 12px;
}

#hoverarea {
  width: 100%;
  height: 300px;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center -35px;
}

.textbox {
  text-align: left;
  background-color: #414040;
  border-color: #55544F;
  border-style: solid;
  color: white;
}

#tags {
  position: absolute;
  top: -5px;
  left: 5px;
}

#classes {
  position: absolute;
  top: 0;
  right: 0;
}

#pricesource, .pricesource {
  color: rgb(179, 233, 99);
}

#prices, .prices {
  font-size: 1.1em;
  margin: 5px 0 5px 0;
}

#buttons {
  position: absolute;
  left: 3px;
  bottom: 6px;
}

#buttons a, input, select {
  margin: 0 0 0 5px;
}

.positive {
  color: #99CCFF;
}

.negative {
  color: #FF4040;
}

.neutral {
  color: #A1A1A1;
}

#hoverbox {
  background-color:rgba(20, 20, 20, .9);
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  display: none;
  font-size: 12px;
  padding: 5px;
  position: absolute;
  text-align: center;
  white-space: pre-wrap;
  width: 308px;
  word-wrap: break-word;
  z-index: 100;
}

#hoverbox > div {
  font: 18px Sans-serif;
  margin: 3px 0;
}

a {
  color: white;
  text-decoration: none;
}

a > img {
  border: none;
}

#back {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#help-list, #settings-list {
  display: none;
  margin-top: 20px;
}

.rounded, .button-icon {
  color: rgb(160, 158, 146);
}

.rounded {
  background-color: rgba(255, 255, 255, 0.025);
  border-radius: 10px;
  padding: 4px;
}

.button-icon {
  padding: 7px;
  cursor: pointer;
}

.button-icon:hover {
  color: rgb(175, 174, 164);
}

.unique, .quality-6 {
  color: #FFD700;
  border-color: #FFD700;
}

.vintage, .quality-3 {
  color: #476291;
  border-color: #476291;
}

.strange, .quality-11 {
  color: #CF6A32;
  border-color: #CF6A32;
}

.genuine, .quality-1 {
  color: #4D7455;
  border-color: #4D7455;
}

.collectors, .quality-14 {
  color: #AA0000;
  border-color: #AA0000;
}

.haunted, .quality-13 {
  color: #38F3AB;
  border-color: #38F3AB;
}

.unusual, .quality-5 {
  color: #8650AC;
  border-color: #8650AC;
}

.primary, .secondary, .melee, .pda2, .hat, .misc, .tool, .bundle, .class-token, .slot-token {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("/images/tags.png");
}

.secondary {
  background-position: 0 -50px;
}

.melee {
  background-position: 0 -100px;
}

.pda2 {
  background-position: 0 -150px;
}

.hat {
  background-position: 0 -200px;
}

.misc {
  background-position: 0 -250px;
}

.tool {
  background-position: 0 -300px;
}

.bundle {
  background-position: 0 -350px;
}

.class-token {
  background-position: 0 -400px;
}

.slot-token {
  background-position: 0 -450px;
}

.scout, .soldier, .pyro, .demoman, .heavy, .engineer, .medic, .sniper, .spy {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("/images/classes.png");
}

.soldier {
  background-position: 0 -40px;
}

.pyro {
  background-position: 0 -80px;
}

.demoman {
  background-position: 0 -120px;
}

.heavy {
  background-position: 0 -160px;
}

.engineer {
  background-position: 0 -200px;
}

.medic {
  background-position: 0 -240px
}

.sniper {
  background-position: 0 -280px;
}

.spy {
  background-position: 0 -320px;
}

.offline, .online, .in-game {
  border: 3px solid;
  border-radius: 3px;
}

.offline {
  border-color: #5e5b58;
}

.online {
  border-color: #86b5d9;
}

.in-game {
  border-color: #8cb359;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-corner {
  background: #474742;
}
::-webkit-scrollbar-track {
  background: #333331;
}
::-webkit-scrollbar-thumb {
  background: #292927;
}
::-webkit-scrollbar-thumb:hover {
  background: #242422;
}
::-webkit-scrollbar-thumb:active {
  background: #1F1F1D;
}
