@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: local("Segoe UI Light");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: local("Segoe UI Semilight");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  src: local("Segoe UI Semibold");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: local("Segoe UI Bold");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: local("Segoe UI Italic");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 700;
  src: local("Segoe UI Bold Italic");
}

html {
  height: 100%;
  background: rgb(29, 28, 27);
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
}

#container {
  min-height: 100%;
  position: relative;
}

header {
  height: 10rem;
  background-color: rgb(32, 31, 29);
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
  display: flow-root;
  margin-bottom: 5rem;
}

#back {
  float: left;
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 2rem;
}

header .heading {
  clear: both;
  position: relative;
  top: -2rem;
  text-align: center;
}

.search-form {
  float: right;
  margin-top: 1rem;
  margin-right: 2rem;
}

.search-form input[type=search] {
  font-size: 2rem;
  width: 20rem;
}

header > a {
  text-decoration: none;
  color: white;
}

main {
  padding-bottom: 4rem;
}

@media (max-width: 766px) {
  .ad {
    display: none;
  }
}

#sidebar {
  min-width: 10rem;
  text-align: right;
  font-size: 1.3rem;
  position: absolute;
  overflow: hidden;
  top: 3rem;
  right: 1rem;
}

#sidebar a {
  color: #CCCEBE;
}

#newitems {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#blueprints {
  position: absolute;
  bottom: 6rem;
  width: 100%;
  height: 16.8rem;
  overflow-y: auto;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: left;
}

.blueprint {
  position: relative;
}

.blueprint li {
  margin: 0.4rem;
  display: inline-block;
}

.item-small {
  display: inline-block;
  height: 7rem;
  width: 8rem;
  overflow: hidden;
}

.item-small img {
  width: 100%;
}

.blueprint .chance {
  position: absolute;
  font-size: 1.8rem;
  font-weight: 500;
  top: 2rem;
  right: 1rem;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.4rem;
  color: #A09E92;
}

footer .middle {
  position: absolute;
  width: 100%;
}

footer .right {
  position: relative;
  float: right;
}

@media (max-width: 62rem) {
  footer .middle { position: initial; margin-bottom: 0.5rem }
}

.tip-button {
  position: absolute;
  left: 0.5rem;
  bottom: 0.1rem;
  color: white;
  background-color: rgb(50, 116, 162);
  border-radius: 0.5rem;
  padding: 0.2rem 1.2rem;
}

footer a {
  text-decoration: none;
  color: #A09E92;
  font-weight: 600;
}

h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-weight: 300;
}

h2 .symbol {
  color: rgba(255, 255, 255, 0.4);
}

.glow {
  color: #D1D0D0;
}

.glow:hover {
  color: rgb(230, 230, 230);
  text-shadow: 0 0 1rem rgba(255, 255, 255, 0.4);
}

.search {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.search .count {
  color: gray;
}

.search .items, .wishlist .items {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  max-width: 1060px;
}

.items li {
  float: left;
  padding: 3px;
}

.items.inline {
  display: inline-block;
}

.item {
  display: block;
  background-color: rgba(50, 50, 47, .8);
  border: 1px solid #363634;
  border-radius: 11px;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, .15);
  width: 100px;
  height: 77px;
  position: relative;
  font-size: 1.6rem;
  text-align: right;
  box-sizing: border-box;
  overflow: hidden;
}

.item > img {
  height: 98px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@media (max-width: 1060px) { .search .items, .wishlist .items { width: 954px; } } /* 9 columns */
@media (max-width: 954px) { .search .items, .wishlist .items { width: 848px; } } /* 8 columns */
@media (max-width: 848px) { .search .items, .wishlist .items { width: 742px; } } /* 7 columns */
@media (max-width: 742px) { .search .items, .wishlist .items { width: 636px; } } /* 6 columns */
@media (max-width: 636px) { .search .items, .wishlist .items { width: 530px; } } /* 5 columns */
/* 4 columns */
@media (max-width: 530px) { .search .items, .wishlist .items { width: 424px; } }
@media (max-width: 424px) {
  .search .items, .wishlist .items { width: 344px; }
  .item {
    width: 80px; height: 62px;
  }
  .item > img {
    height: 78px;
  }
}
@media (max-width: 344px) {
  .search .items, .wishlist .items { width: 296px; }
  .items li {
    padding: 2px;
  }
  .item {
    width: 70px; height: 54px;
  }
  .item > img {
    height: 68px;
  }
}

ul {
  padding: 0;
  list-style: none;
}

.button, .button-small {
  color: white;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 0.6rem;
  display: inline-block;
  background-color: rgb(43, 42, 39);
  border-style: none;
  border-radius: 1rem;
  cursor: pointer;
}

.button:hover, .button-small:hover {
  background-color: rgb(51, 50, 46);
}

.button-small {
  font-size: 1.2rem;
}

#itembox, .itembox {
  display: none;
  z-index: 1;
  color: #EAEBD7;
  background-color: rgb(39, 39, 37);
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, .1);
  border-radius: 0.5rem;
  max-width: 50rem;
  width: 100%;
  height: 60rem;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
}

.iteminfo {
  max-width: 70rem;
  background-color: rgb(39, 39, 37);
  padding: 2rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  border-radius: 2rem;
  overflow: hidden;
}

.iteminfo h1 {
  margin: 0;
}

.iteminfo .description {
  white-space: pre-wrap;
}

.iteminfo .blueprints .recipe dd {
  margin-left: 0
}

.iteminfo .blueprints .recipe li {
  display: inline;
}

.iteminfo .blueprints .recipe img {
  width: 10rem;
}

.iteminfo .blueprints dt, .iteminfo .blueprints li > span {
  display: none;
}

.iteminfo > dl > dd {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.iteminfo .buttons {
  margin-top: 4rem;
}

.iteminfo .buttons .fa {
  padding: 1rem;
}

#itemname, .itemname {
  margin-bottom: 0.5rem;
  color: #D1D0D0;
  font-size: 2rem;
}

#itemname {
  display: inline-block;
  margin-left: 2.3rem;
}

#shortlinkbutton {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding-left: 0.5rem;
}

#shortlink > input {
  text-align: center;
  width: 13rem;
  color: rgb(178, 178, 178);
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 0 0.8rem 0;
  padding: 0.4rem;
  border-style: none;
  border-radius: 1.2rem;
}

#hoverarea {
  width: 100%;
  height: 15rem;
  overflow: hidden;
}

#hoverarea img {
  height: 100%;
  margin-top: -2rem;
}

.textbox {
  text-align: left;
  background-color: #414040;
  border-color: #55544F;
  border-style: solid;
  color: white;
}

#tags {
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
}

#classes {
  position: absolute;
  top: 0;
  right: 0;
}

#tags img, #classes img {
  width: 100%;
}

#pricesource, .pricesource {
  color: rgb(179, 233, 99);
}

#prices, .prices {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 0 0.5rem 0;
}

#buttons, #buy {
  position: absolute;
  bottom: 0.7rem;
}

#buttons {
  left: 0.3rem;
}

#buy {
  right: 0.7rem;
}

#buybutton {
  display: inline-block;
  margin-bottom: -7px;
  margin-left: 5px;
  width: 97px;
  height: 24px;
  overflow: hidden;
}

#buybutton img:hover {
  margin-top: -24px;
}

#buttons a, #buttons input, #buttons select {
  margin: 0 0 0 0.5rem;
}

.button-icon {
  padding: 0.7rem;
  cursor: pointer;
}

.button-icon:hover {
  color: rgb(175, 174, 164);
}

@media (max-width: 500px) {
  #buttons a, #buttons select {
    margin: 0;
  }
  #buybutton {
    width: 20px;
    height: 20px;
  }
  #buybutton img {
    height: 40px;
  }
  #buybutton img:hover {
    margin-top: -20px;
  }
}

.positive {
  color: #99CCFF;
}

.negative {
  color: #FF4040;
}

.neutral {
  color: #A1A1A1;
}

#hoverbox {
  background-color:rgba(20, 20, 20, .9);
  border-radius: 0.8rem;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
  display: none;
  font-size: 1.3rem;
  padding: 1rem 0.5rem;
  position: absolute;
  text-align: center;
  width: 31rem;
  word-wrap: break-word;
  z-index: 100;
  box-sizing: border-box;
}

#hoverbox ul {
  margin: 0;
}

#hoverbox li, #hoverbox .desc {
  white-space: pre-wrap;
}

#hoverbox .name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #eee;
}

#hoverbox .level {
  color: gray;
}

a {
  color: #a09e92;
  text-decoration: none;
}

a > img {
  border: none;
}

#help-list, #settings-list {
  display: none;
  margin-top: 2rem;
  background-color: rgba(33, 32, 31, 0.9);
}

.rounded, .button-icon {
  color: rgb(160, 158, 146);
}

.rounded {
  background-color: rgba(255, 255, 255, 0.025);
  border-radius: 1rem;
  padding: 0.6rem;
}

.unique {
  color: #FFD700;
}

.wishlist .quality-6 {
  border-color: #FFD700;
}

.vintage {
  color: #476291;
}

.wishlist .quality-3 {
  border-color: #476291;
}

.strange {
  color: #CF6A32;
}

.wishlist .quality-11 {
  border-color: #CF6A32;
}

.genuine {
  color: #4D7455;
}

.wishlist .quality-1 {
  border-color: #4D7455;
}

.collectors {
  color: #AA0000;
}

.wishlist .quality-14 {
  border-color: #AA0000;
}

.haunted {
  color: #38F3AB;
}

.wishlist .quality-13 {
  border-color: #38F3AB;
}

.unusual {
  color: #8650AC;
}

.wishlist .quality-5 {
  border-color: #8650AC;
}

.primary, .secondary, .melee, .pda2, .hat, .misc, .tool, .bundle, .class-token, .slot-token {
  display: block;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
}

.secondary img {
  margin-top: -5rem;
}

.melee img {
  margin-top: -10rem;
}

.pda2 img {
  margin-top: -15rem;
}

.hat img {
  margin-top: -20rem;
}

.misc img {
  margin-top: -25rem;
}

.tool img {
  margin-top: -30rem;
}

.bundle img {
  margin-top: -35rem;
}

.class-token img {
  margin-top: -40rem;
}

.slot-token img {
  margin-top: -45rem;
}

.scout, .soldier, .pyro, .demoman, .heavy, .engineer, .medic, .sniper, .spy {
  display: block;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}

.soldier img {
  margin-top: -4rem;
}

.pyro img {
  margin-top: -8rem;
}

.demoman img {
  margin-top: -12rem;
}

.heavy img {
  margin-top: -16rem;
}

.engineer img {
  margin-top: -20rem;
}

.medic img {
  margin-top: -24rem;
}

.sniper img {
  margin-top: -28rem;
}

.spy img {
  margin-top: -32rem;
}

.offline, .online, .in-game {
  border: 0.3rem solid;
  border-radius: 0.3rem;
}

.offline {
  border-color: #5e5b58;
}

.online {
  border-color: #86b5d9;
}

.in-game {
  border-color: #8cb359;
}

.search [class*=quality-]::after {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  right: 0;
}

.search .quality-6::after {
  content: "●";
  background-color: #FFD700;
}

.search .quality-3::after {
  content: "●";
  background-color: #476291;
}

.search .quality-11::after {
  content: "●";
  background-color: #CF6A32;
}

.search .quality-1::after {
  content: "●";
  background-color: #4D7455;
}

.search .quality-14::after {
  content: "●";
  background-color: #AA0000;
}

.search .quality-13::after {
  content: "●";
  background-color: #38F3AB;
}

.search .quality-5::after {
  content: "●";
  background-color: #8650AC;
}

.search .quality-6.quality-3::after {
  content: "●●";
  background-image: linear-gradient(to right, #FFD700 50%, #476291 50%);
}

.search .quality-6.quality-11::after {
  content: "●●";
  background-image: linear-gradient(to right, #FFD700 50%, #CF6A32 50%);
}

.search .quality-6.quality-1::after {
  content: "●●";
  background-image: linear-gradient(to right, #FFD700 50%, #4D7455 50%);
}

.search .quality-6.quality-14::after {
  content: "●●";
  background-image: linear-gradient(to right, #FFD700 50%, #AA0000 50%);
}

.search .quality-6.quality-13::after {
  content: "●●";
  background-image: linear-gradient(to right, #FFD700 50%, #38F3AB 50%);
}

.search .quality-6.quality-5::after {
  content: "●●";
  background-image: linear-gradient(to right, #FFD700 50%, #8650AC 50%);
}

.search .quality-3.quality-11::after {
  content: "●●";
  background-image: linear-gradient(to right, #476291 50%, #CF6A32 50%);
}

.search .quality-3.quality-1::after {
  content: "●●";
  background-image: linear-gradient(to right, #476291 50%, #4D7455 50%);
}

.search .quality-3.quality-14::after {
  content: "●●";
  background-image: linear-gradient(to right, #476291 50%, #AA0000 50%);
}

.search .quality-3.quality-13::after {
  content: "●●";
  background-image: linear-gradient(to right, #476291 50%, #38F3AB 50%);
}

.search .quality-3.quality-5::after {
  content: "●●";
  background-image: linear-gradient(to right, #476291 50%, #8650AC 50%);
}

.search .quality-11.quality-1::after {
  content: "●●";
  background-image: linear-gradient(to right, #CF6A32 50%, #4D7455 50%);
}

.search .quality-11.quality-14::after {
  content: "●●";
  background-image: linear-gradient(to right, #CF6A32 50%, #AA0000 50%);
}

.search .quality-11.quality-13::after {
  content: "●●";
  background-image: linear-gradient(to right, #CF6A32 50%, #38F3AB 50%);
}

.search .quality-11.quality-5::after {
  content: "●●";
  background-image: linear-gradient(to right, #CF6A32 50%, #8650AC 50%);
}

.search .quality-1.quality-14::after {
  content: "●●";
  background-image: linear-gradient(to right, #4D7455 50%, #AA0000 50%);
}

.search .quality-1.quality-13::after {
  content: "●●";
  background-image: linear-gradient(to right, #4D7455 50%, #38F3AB 50%);
}

.search .quality-1.quality-5::after {
  content: "●●";
  background-image: linear-gradient(to right, #4D7455 50%, #8650AC 50%);
}

.search .quality-14.quality-13::after {
  content: "●●";
  background-image: linear-gradient(to right, #AA0000 50%, #38F3AB 50%);
}

.search .quality-14.quality-5::after {
  content: "●●";
  background-image: linear-gradient(to right, #AA0000 50%, #8650AC 50%);
}

.search .quality-13.quality-5::after {
  content: "●●";
  background-image: linear-gradient(to right, #38F3AB 50%, #8650AC 50%);
}

.search .quality-6.quality-3.quality-11::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #476291 33%, #476291 67%, #CF6A32 67%);
}

.search .quality-6.quality-3.quality-1::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #476291 33%, #476291 67%, #4D7455 67%);
}

.search .quality-6.quality-3.quality-14::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #476291 33%, #476291 67%, #AA0000 67%);
}

.search .quality-6.quality-3.quality-13::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #476291 33%, #476291 67%, #38F3AB 67%);
}

.search .quality-6.quality-3.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #476291 33%, #476291 67%, #8650AC 67%);
}

.search .quality-6.quality-11.quality-1::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #CF6A32 33%, #CF6A32 67%, #4D7455 67%);
}

.search .quality-6.quality-11.quality-14::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #CF6A32 33%, #CF6A32 67%, #AA0000 67%);
}

.search .quality-6.quality-11.quality-13::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #CF6A32 33%, #CF6A32 67%, #38F3AB 67%);
}

.search .quality-6.quality-11.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #CF6A32 33%, #CF6A32 67%, #8650AC 67%);
}

.search .quality-6.quality-1.quality-14::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #4D7455 33%, #4D7455 67%, #AA0000 67%);
}

.search .quality-6.quality-1.quality-13::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #4D7455 33%, #4D7455 67%, #38F3AB 67%);
}

.search .quality-6.quality-1.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #4D7455 33%, #4D7455 67%, #8650AC 67%);
}

.search .quality-6.quality-14.quality-13::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #AA0000 33%, #AA0000 67%, #38F3AB 67%);
}

.search .quality-6.quality-14.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #AA0000 33%, #AA0000 67%, #8650AC 67%);
}

.search .quality-6.quality-13.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #FFD700 33%, #38F3AB 33%, #38F3AB 67%, #8650AC 67%);
}

.search .quality-3.quality-11.quality-1::after {
  content: "●●●";
  background-image: linear-gradient(to right, #476291 33%, #CF6A32 33%, #CF6A32 67%, #4D7455 67%);
}

.search .quality-3.quality-11.quality-14::after {
  content: "●●●";
  background-image: linear-gradient(to right, #476291 33%, #CF6A32 33%, #CF6A32 67%, #AA0000 67%);
}

.search .quality-3.quality-11.quality-13::after {
  content: "●●●";
  background-image: linear-gradient(to right, #476291 33%, #CF6A32 33%, #CF6A32 67%, #38F3AB 67%);
}

.search .quality-3.quality-11.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #476291 33%, #CF6A32 33%, #CF6A32 67%, #8650AC 67%);
}

.search .quality-3.quality-1.quality-14::after {
  content: "●●●";
  background-image: linear-gradient(to right, #476291 33%, #4D7455 33%, #4D7455 67%, #AA0000 67%);
}

.search .quality-3.quality-1.quality-13::after {
  content: "●●●";
  background-image: linear-gradient(to right, #476291 33%, #4D7455 33%, #4D7455 67%, #38F3AB 67%);
}

.search .quality-3.quality-1.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #476291 33%, #4D7455 33%, #4D7455 67%, #8650AC 67%);
}

.search .quality-3.quality-14.quality-13::after {
  content: "●●●";
  background-image: linear-gradient(to right, #476291 33%, #AA0000 33%, #AA0000 67%, #38F3AB 67%);
}

.search .quality-3.quality-14.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #476291 33%, #AA0000 33%, #AA0000 67%, #8650AC 67%);
}

.search .quality-3.quality-13.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #476291 33%, #38F3AB 33%, #38F3AB 67%, #8650AC 67%);
}

.search .quality-11.quality-1.quality-14::after {
  content: "●●●";
  background-image: linear-gradient(to right, #CF6A32 33%, #4D7455 33%, #4D7455 67%, #AA0000 67%);
}

.search .quality-11.quality-1.quality-13::after {
  content: "●●●";
  background-image: linear-gradient(to right, #CF6A32 33%, #4D7455 33%, #4D7455 67%, #38F3AB 67%);
}

.search .quality-11.quality-1.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #CF6A32 33%, #4D7455 33%, #4D7455 67%, #8650AC 67%);
}

.search .quality-11.quality-14.quality-13::after {
  content: "●●●";
  background-image: linear-gradient(to right, #CF6A32 33%, #AA0000 33%, #AA0000 67%, #38F3AB 67%);
}

.search .quality-11.quality-14.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #CF6A32 33%, #AA0000 33%, #AA0000 67%, #8650AC 67%);
}

.search .quality-11.quality-13.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #CF6A32 33%, #38F3AB 33%, #38F3AB 67%, #8650AC 67%);
}

.search .quality-1.quality-14.quality-13::after {
  content: "●●●";
  background-image: linear-gradient(to right, #4D7455 33%, #AA0000 33%, #AA0000 67%, #38F3AB 67%);
}

.search .quality-1.quality-14.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #4D7455 33%, #AA0000 33%, #AA0000 67%, #8650AC 67%);
}

.search .quality-1.quality-13.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #4D7455 33%, #38F3AB 33%, #38F3AB 67%, #8650AC 67%);
}

.search .quality-14.quality-13.quality-5::after {
  content: "●●●";
  background-image: linear-gradient(to right, #AA0000 33%, #38F3AB 33%, #38F3AB 67%, #8650AC 67%);
}

.search .quality-6.quality-3.quality-11.quality-1::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #476291 25%, #476291 50%, #CF6A32 50%, #CF6A32 75%, #4D7455 75%);
}

.search .quality-6.quality-3.quality-11.quality-14::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #476291 25%, #476291 50%, #CF6A32 50%, #CF6A32 75%, #AA0000 75%);
}

.search .quality-6.quality-3.quality-11.quality-13::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #476291 25%, #476291 50%, #CF6A32 50%, #CF6A32 75%, #38F3AB 75%);
}

.search .quality-6.quality-3.quality-11.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #476291 25%, #476291 50%, #CF6A32 50%, #CF6A32 75%, #8650AC 75%);
}

.search .quality-6.quality-3.quality-1.quality-14::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #476291 25%, #476291 50%, #4D7455 50%, #4D7455 75%, #AA0000 75%);
}

.search .quality-6.quality-3.quality-1.quality-13::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #476291 25%, #476291 50%, #4D7455 50%, #4D7455 75%, #38F3AB 75%);
}

.search .quality-6.quality-3.quality-1.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #476291 25%, #476291 50%, #4D7455 50%, #4D7455 75%, #8650AC 75%);
}

.search .quality-6.quality-3.quality-14.quality-13::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #476291 25%, #476291 50%, #AA0000 50%, #AA0000 75%, #38F3AB 75%);
}

.search .quality-6.quality-3.quality-14.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #476291 25%, #476291 50%, #AA0000 50%, #AA0000 75%, #8650AC 75%);
}

.search .quality-6.quality-3.quality-13.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #476291 25%, #476291 50%, #38F3AB 50%, #38F3AB 75%, #8650AC 75%);
}

.search .quality-6.quality-11.quality-1.quality-14::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #CF6A32 25%, #CF6A32 50%, #4D7455 50%, #4D7455 75%, #AA0000 75%);
}

.search .quality-6.quality-11.quality-1.quality-13::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #CF6A32 25%, #CF6A32 50%, #4D7455 50%, #4D7455 75%, #38F3AB 75%);
}

.search .quality-6.quality-11.quality-1.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #CF6A32 25%, #CF6A32 50%, #4D7455 50%, #4D7455 75%, #8650AC 75%);
}

.search .quality-6.quality-11.quality-14.quality-13::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #CF6A32 25%, #CF6A32 50%, #AA0000 50%, #AA0000 75%, #38F3AB 75%);
}

.search .quality-6.quality-11.quality-14.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #CF6A32 25%, #CF6A32 50%, #AA0000 50%, #AA0000 75%, #8650AC 75%);
}

.search .quality-6.quality-11.quality-13.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #CF6A32 25%, #CF6A32 50%, #38F3AB 50%, #38F3AB 75%, #8650AC 75%);
}

.search .quality-6.quality-1.quality-14.quality-13::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #4D7455 25%, #4D7455 50%, #AA0000 50%, #AA0000 75%, #38F3AB 75%);
}

.search .quality-6.quality-1.quality-14.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #4D7455 25%, #4D7455 50%, #AA0000 50%, #AA0000 75%, #8650AC 75%);
}

.search .quality-6.quality-1.quality-13.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #4D7455 25%, #4D7455 50%, #38F3AB 50%, #38F3AB 75%, #8650AC 75%);
}

.search .quality-6.quality-14.quality-13.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #FFD700 25%, #AA0000 25%, #AA0000 50%, #38F3AB 50%, #38F3AB 75%, #8650AC 75%);
}

.search .quality-3.quality-11.quality-1.quality-14::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #476291 25%, #CF6A32 25%, #CF6A32 50%, #4D7455 50%, #4D7455 75%, #AA0000 75%);
}

.search .quality-3.quality-11.quality-1.quality-13::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #476291 25%, #CF6A32 25%, #CF6A32 50%, #4D7455 50%, #4D7455 75%, #38F3AB 75%);
}

.search .quality-3.quality-11.quality-1.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #476291 25%, #CF6A32 25%, #CF6A32 50%, #4D7455 50%, #4D7455 75%, #8650AC 75%);
}

.search .quality-3.quality-11.quality-14.quality-13::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #476291 25%, #CF6A32 25%, #CF6A32 50%, #AA0000 50%, #AA0000 75%, #38F3AB 75%);
}

.search .quality-3.quality-11.quality-14.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #476291 25%, #CF6A32 25%, #CF6A32 50%, #AA0000 50%, #AA0000 75%, #8650AC 75%);
}

.search .quality-3.quality-11.quality-13.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #476291 25%, #CF6A32 25%, #CF6A32 50%, #38F3AB 50%, #38F3AB 75%, #8650AC 75%);
}

.search .quality-3.quality-1.quality-14.quality-13::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #476291 25%, #4D7455 25%, #4D7455 50%, #AA0000 50%, #AA0000 75%, #38F3AB 75%);
}

.search .quality-3.quality-1.quality-14.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #476291 25%, #4D7455 25%, #4D7455 50%, #AA0000 50%, #AA0000 75%, #8650AC 75%);
}

.search .quality-3.quality-1.quality-13.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #476291 25%, #4D7455 25%, #4D7455 50%, #38F3AB 50%, #38F3AB 75%, #8650AC 75%);
}

.search .quality-3.quality-14.quality-13.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #476291 25%, #AA0000 25%, #AA0000 50%, #38F3AB 50%, #38F3AB 75%, #8650AC 75%);
}

.search .quality-11.quality-1.quality-14.quality-13::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #CF6A32 25%, #4D7455 25%, #4D7455 50%, #AA0000 50%, #AA0000 75%, #38F3AB 75%);
}

.search .quality-11.quality-1.quality-14.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #CF6A32 25%, #4D7455 25%, #4D7455 50%, #AA0000 50%, #AA0000 75%, #8650AC 75%);
}

.search .quality-11.quality-1.quality-13.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #CF6A32 25%, #4D7455 25%, #4D7455 50%, #38F3AB 50%, #38F3AB 75%, #8650AC 75%);
}

.search .quality-11.quality-14.quality-13.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #CF6A32 25%, #AA0000 25%, #AA0000 50%, #38F3AB 50%, #38F3AB 75%, #8650AC 75%);
}

.search .quality-1.quality-14.quality-13.quality-5::after {
  content: "●●●●";
  background-image: linear-gradient(to right, #4D7455 25%, #AA0000 25%, #AA0000 50%, #38F3AB 50%, #38F3AB 75%, #8650AC 75%);
}

.search .quality-6.quality-3.quality-11.quality-1.quality-14::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #476291 20%, #476291 40%, #CF6A32 40%, #CF6A32 60%, #4D7455 60%, #4D7455 80%, #AA0000 80%);
}

.search .quality-6.quality-3.quality-11.quality-1.quality-13::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #476291 20%, #476291 40%, #CF6A32 40%, #CF6A32 60%, #4D7455 60%, #4D7455 80%, #38F3AB 80%);
}

.search .quality-6.quality-3.quality-11.quality-1.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #476291 20%, #476291 40%, #CF6A32 40%, #CF6A32 60%, #4D7455 60%, #4D7455 80%, #8650AC 80%);
}

.search .quality-6.quality-3.quality-11.quality-14.quality-13::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #476291 20%, #476291 40%, #CF6A32 40%, #CF6A32 60%, #AA0000 60%, #AA0000 80%, #38F3AB 80%);
}

.search .quality-6.quality-3.quality-11.quality-14.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #476291 20%, #476291 40%, #CF6A32 40%, #CF6A32 60%, #AA0000 60%, #AA0000 80%, #8650AC 80%);
}

.search .quality-6.quality-3.quality-11.quality-13.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #476291 20%, #476291 40%, #CF6A32 40%, #CF6A32 60%, #38F3AB 60%, #38F3AB 80%, #8650AC 80%);
}

.search .quality-6.quality-3.quality-1.quality-14.quality-13::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #476291 20%, #476291 40%, #4D7455 40%, #4D7455 60%, #AA0000 60%, #AA0000 80%, #38F3AB 80%);
}

.search .quality-6.quality-3.quality-1.quality-14.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #476291 20%, #476291 40%, #4D7455 40%, #4D7455 60%, #AA0000 60%, #AA0000 80%, #8650AC 80%);
}

.search .quality-6.quality-3.quality-1.quality-13.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #476291 20%, #476291 40%, #4D7455 40%, #4D7455 60%, #38F3AB 60%, #38F3AB 80%, #8650AC 80%);
}

.search .quality-6.quality-3.quality-14.quality-13.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #476291 20%, #476291 40%, #AA0000 40%, #AA0000 60%, #38F3AB 60%, #38F3AB 80%, #8650AC 80%);
}

.search .quality-6.quality-11.quality-1.quality-14.quality-13::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #CF6A32 20%, #CF6A32 40%, #4D7455 40%, #4D7455 60%, #AA0000 60%, #AA0000 80%, #38F3AB 80%);
}

.search .quality-6.quality-11.quality-1.quality-14.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #CF6A32 20%, #CF6A32 40%, #4D7455 40%, #4D7455 60%, #AA0000 60%, #AA0000 80%, #8650AC 80%);
}

.search .quality-6.quality-11.quality-1.quality-13.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #CF6A32 20%, #CF6A32 40%, #4D7455 40%, #4D7455 60%, #38F3AB 60%, #38F3AB 80%, #8650AC 80%);
}

.search .quality-6.quality-11.quality-14.quality-13.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #CF6A32 20%, #CF6A32 40%, #AA0000 40%, #AA0000 60%, #38F3AB 60%, #38F3AB 80%, #8650AC 80%);
}

.search .quality-6.quality-1.quality-14.quality-13.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #FFD700 20%, #4D7455 20%, #4D7455 40%, #AA0000 40%, #AA0000 60%, #38F3AB 60%, #38F3AB 80%, #8650AC 80%);
}

.search .quality-3.quality-11.quality-1.quality-14.quality-13::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #476291 20%, #CF6A32 20%, #CF6A32 40%, #4D7455 40%, #4D7455 60%, #AA0000 60%, #AA0000 80%, #38F3AB 80%);
}

.search .quality-3.quality-11.quality-1.quality-14.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #476291 20%, #CF6A32 20%, #CF6A32 40%, #4D7455 40%, #4D7455 60%, #AA0000 60%, #AA0000 80%, #8650AC 80%);
}

.search .quality-3.quality-11.quality-1.quality-13.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #476291 20%, #CF6A32 20%, #CF6A32 40%, #4D7455 40%, #4D7455 60%, #38F3AB 60%, #38F3AB 80%, #8650AC 80%);
}

.search .quality-3.quality-11.quality-14.quality-13.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #476291 20%, #CF6A32 20%, #CF6A32 40%, #AA0000 40%, #AA0000 60%, #38F3AB 60%, #38F3AB 80%, #8650AC 80%);
}

.search .quality-3.quality-1.quality-14.quality-13.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #476291 20%, #4D7455 20%, #4D7455 40%, #AA0000 40%, #AA0000 60%, #38F3AB 60%, #38F3AB 80%, #8650AC 80%);
}

.search .quality-11.quality-1.quality-14.quality-13.quality-5::after {
  content: "●●●●●";
  background-image: linear-gradient(to right, #CF6A32 20%, #4D7455 20%, #4D7455 40%, #AA0000 40%, #AA0000 60%, #38F3AB 60%, #38F3AB 80%, #8650AC 80%);
}

.search .quality-6.quality-3.quality-11.quality-1.quality-14.quality-13::after {
  content: "●●●●●●";
  background-image: linear-gradient(to right, #FFD700 17%, #476291 17%, #476291 33%, #CF6A32 33%, #CF6A32 50%, #4D7455 50%, #4D7455 67%, #AA0000 67%, #AA0000 83%, #38F3AB 83%);
}

.search .quality-6.quality-3.quality-11.quality-1.quality-14.quality-5::after {
  content: "●●●●●●";
  background-image: linear-gradient(to right, #FFD700 17%, #476291 17%, #476291 33%, #CF6A32 33%, #CF6A32 50%, #4D7455 50%, #4D7455 67%, #AA0000 67%, #AA0000 83%, #8650AC 83%);
}

.search .quality-6.quality-3.quality-11.quality-1.quality-13.quality-5::after {
  content: "●●●●●●";
  background-image: linear-gradient(to right, #FFD700 17%, #476291 17%, #476291 33%, #CF6A32 33%, #CF6A32 50%, #4D7455 50%, #4D7455 67%, #38F3AB 67%, #38F3AB 83%, #8650AC 83%);
}

.search .quality-6.quality-3.quality-11.quality-14.quality-13.quality-5::after {
  content: "●●●●●●";
  background-image: linear-gradient(to right, #FFD700 17%, #476291 17%, #476291 33%, #CF6A32 33%, #CF6A32 50%, #AA0000 50%, #AA0000 67%, #38F3AB 67%, #38F3AB 83%, #8650AC 83%);
}

.search .quality-6.quality-3.quality-1.quality-14.quality-13.quality-5::after {
  content: "●●●●●●";
  background-image: linear-gradient(to right, #FFD700 17%, #476291 17%, #476291 33%, #4D7455 33%, #4D7455 50%, #AA0000 50%, #AA0000 67%, #38F3AB 67%, #38F3AB 83%, #8650AC 83%);
}

.search .quality-6.quality-11.quality-1.quality-14.quality-13.quality-5::after {
  content: "●●●●●●";
  background-image: linear-gradient(to right, #FFD700 17%, #CF6A32 17%, #CF6A32 33%, #4D7455 33%, #4D7455 50%, #AA0000 50%, #AA0000 67%, #38F3AB 67%, #38F3AB 83%, #8650AC 83%);
}

.search .quality-3.quality-11.quality-1.quality-14.quality-13.quality-5::after {
  content: "●●●●●●";
  background-image: linear-gradient(to right, #476291 17%, #CF6A32 17%, #CF6A32 33%, #4D7455 33%, #4D7455 50%, #AA0000 50%, #AA0000 67%, #38F3AB 67%, #38F3AB 83%, #8650AC 83%);
}

.search .quality-6.quality-3.quality-11.quality-1.quality-14.quality-13.quality-5::after {
  content: "●●●●●●●";
  background-image: linear-gradient(to right, #FFD700 14%, #476291 14%, #476291 29%, #CF6A32 29%, #CF6A32 43%, #4D7455 43%, #4D7455 57%, #AA0000 57%, #AA0000 71%, #38F3AB 71%, #38F3AB 86%, #8650AC 86%);
}

.fa.fa-2x {
  font-size: 1.8em;
}

.fa.fa-lg {
  font-size: 1.2em;
}
