#message {
  display: inline-block;
  padding: 15px;
  border-radius: 15px;
  background: rgba(0,0,0,0.3);
  color: #8F8980;
}

#message a, #message span {
  color: #C9C6BC;
}

#message a:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
