<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name='viewport' content='initial-scale=1'>
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %} - item.tf</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    {% block link %}{% endblock %}
    {% block js %}{% endblock %}
    {% include 'analytics.html' %}
    {% block style %}{% endblock %}
  </head>
  <body>
    <div id="container">
      <header>{% block header %}{% endblock %}</header>
      {% block container %}{% endblock %}
      <main>
        {% block body %}{% endblock %}
      </main>
      <footer>
        {% block footer %}{% endblock %}{% include 'footer.html' %}
      </footer>
    </div>
    <script src="/js/main.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
