<div class="middle">Developed by <a href="http://steamcommunity.com/id/thefilmore" target="_blank">filmore</a>. Powered by <a href="http://steampowered.com" target="_blank">Steam</a>.</div>
<a href="https://www.paypal.me/mohdkhalil/5" target="_blank" style="float: left; margin-left: 5px;">
  <img src="https://item.tf/images/tip.png" alt="Tip me">
</a>
<span style="float: right; margin-right: 5px;"><a href="https://github.com/mohd-akram/item.tf" target="_blank">GitHub</a> | <a href="https://docs.google.com/spreadsheet/viewform?formkey=dC1peWFiUEQ5UlFodGFuYy1GNnZ5TFE6MQ" target="_blank">Feedback</a> | <a href="http://steamcommunity.com/groups/itemtf" target="_blank">Group</a></span>
