<span style="position: absolute; left: 5px; bottom: 6px;">
  <script src="http://coinwidget.com/widget/coin.js"></script>
  <script>
  CoinWidgetCom.go({
          wallet_address: "1J1cDHXjV8Jix3ZcZ6AgFm9nLZtvNsB3cp"
          , currency: "bitcoin"
          , counter: "hide"
          , alignment: "al"
          , qrcode: true
          , auto_show: false
          , lbl_button: "Tip"
          , lbl_address: "item.tf"
          , lbl_count: ""
          , lbl_amount: ""
  });
  </script>
</span>
Developed by <a href="http://steamcommunity.com/id/thefilmore" target="_blank">filmore</a>. Powered by <a href="http://steampowered.com" target="_blank">Steam</a>. <span style="position: absolute; right: 5px;"><a href="https://github.com/mohd-akram/tf2find" target="_blank">GitHub</a> | <a href="https://docs.google.com/spreadsheet/viewform?formkey=dC1peWFiUEQ5UlFodGFuYy1GNnZ5TFE6MQ" target="_blank">Feedback</a> | <a href="http://steamcommunity.com/groups/itemtf" target="_blank">Group</a></span>
