<span style="position: absolute; bottom: 1px; left: 0">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="4CE39LY542LD8">
    <input type="image" src="https://item.tf/images/tip.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</span>
Developed by <a href="http://steamcommunity.com/id/thefilmore" target="_blank">filmore</a>. Powered by <a href="http://steampowered.com" target="_blank">Steam</a>. <span style="position: absolute; right: 5px;"><a href="https://github.com/mohd-akram/item.tf" target="_blank">GitHub</a> | <a href="https://docs.google.com/spreadsheet/viewform?formkey=dC1peWFiUEQ5UlFodGFuYy1GNnZ5TFE6MQ" target="_blank">Feedback</a> | <a href="http://steamcommunity.com/groups/itemtf" target="_blank">Group</a></span>
