{% extends 'base.html' %}
{% from 'macros.html' import showitems, showsearchlinks, getcount %}

{% set searchurl = homepage+'/searchdescription.xml' -%}

{% block title %}Home{% endblock %}
{% block description %}Find TF2 items and quickly get information about crafting blueprints, market prices and more.{% endblock %}

{% block link %}
  <link rel="search" type="application/opensearchdescription+xml" title="item.tf" href="{{searchurl}}">
  <link rel="stylesheet" href="/css/message.css">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css">
{% endblock %}

{% block style %}
  <style>
    .ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      overflow-x: hidden;
      background: #292927;
      border: none !important;
    }
    .ui-menu-item {
      color: rgb(150,150,150);
      cursor: default !important;
    }
    .ui-state-active {
      color: white !important;
      font-weight: normal !important;
      background: #1E1D1C !important;
      border: none !important;
    }
    header {
      height: 1rem;
    }
  </style>
{% endblock %}

{% block body %}
  <h1 style="margin-top:120px; display: inline-block;">
    {% include 'logo.html' %}
  </h1>
  <div style="position: absolute; top: 3rem; left: 1rem; text-align: left">
    <h4 id="addsearch" style="margin: 0 0 2rem 0; display: none">
      <a href="#" class="rounded" onclick="window.external.AddSearchProvider('{{searchurl}}')">Add Search Engine</a>
    </h4>
    <iframe class="ad"
      src="https://sensible-ads.com/spaces/8d72f7b4-0ca0-4a6f-afe2-1bb7c78c7e0a/embed#homepage-ad"
      width="142" height="71" frameborder="0" allowfullscreen>
    </iframe>
  </div>
  <div id="searchitems" style="margin: 20px 0"></div>
  <form id="searchform" action="/search">
    <div id="loading" style="display:none; padding: 20px;"></div>
    <input name="q" id="searchbox" type="search" placeholder="Search" style="width: 30rem; font-size: 2rem;">
    <br><br>
    <input type="submit" value="Search" class="button">
    <input type="button" value="Lucky?" class="button" onclick="window.location.href='/search/random'">
  </form>
  {{ showitems(newitems, True) }}
  <div id="message">{{message|safe}}</div>
{% endblock %}

{% block container %}
  <div id="sidebar">
    {% if user %}
    <a href="{{user.url}}" title="{{user.name}}">
      <img class="{{user.state.lower()}}" src="{{user.avatar}}" alt="Steam Avatar" style="width: 3.2rem"></a>
    {% else %}
    <a href="/login">
      <img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_landing.png" alt="Sign in through Steam" style="width: 10rem"></a>
    {% endif %}
    <br><br>
    <i id="settings" class="fa fa-cog fa-2x button-icon rounded" title="Settings"></i>
    <i id="help" class="fa fa-question-circle fa-2x button-icon rounded" title="Help"></i>

    <div id="settings-list" class="rounded">
      <form id="settingsform">
        <label for="pricesetting">Price Source:</label>
        <select id="pricesetting" class="textbox">
          <option value="backpack.tf">Backpack.tf</option>
          <option value="trade.tf">Trade.tf</option>
        </select>
        <br><br>
        <input type="submit" value="Save" class="button-small">
      </form>
    </div>

    <div id="help-list" class="rounded">
      <a class="rounded glow"
        style="display: inline-block; margin-top: 1rem; padding: 0.7rem; background-color: rgba(255, 255, 255, 0.07);"
        href="http://steamcommunity.com/groups/itemtf#announcements/detail/177093219758125435"
        target="_blank">Guide</a>
      <h4>Keywords</h4>
      <p>
      {{ showsearchlinks(['all','sets','random']) }}
      <br>
      {{ showsearchlinks(tags) }}
      </p>
    </div>
  </div>
{% endblock %}

{% block footer %}Last Updated - {{getcount(lastupdated,'minute')}} ago<br>{% endblock %}

{% block script %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "item.tf",
      "url": "{{homepage}}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{homepage}}/search?q={query}",
        "query-input": "name=query required"
      }
    }
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
    $(function() {
      var searchBox = $('#searchbox');
      searchBox.focus();

      var tips = ['engi hats', 'medic weps', 'demo melee', '< 3 ref', 'genuine < 4 ref hats', '5 ref to rec'];
      var tipNo = 0;
      var nextTip = function() {
        searchBox.attr('placeholder', tips[tipNo++]);
        tipNo %= tips.length;
      };
      nextTip();
      setInterval(nextTip, 4000);

      $('#searchform').submit(function() {
        if (!searchBox.val())
          searchBox.val(searchBox.attr('placeholder'));
      });

      $('#pricesetting').val(user.priceSource);

      $('#help').click(function(){
        $('#settings-list').hide();
        $('#help-list').toggle('slide', {'direction': 'right'}, 'fast');
      });

      $('#settings').click(function() {
        $('#help-list').hide();
        $('#settings-list').toggle('slide', {'direction': 'right'}, 'fast');
      });

      $('#settingsform').submit(function() {
        user.priceSource = $('#pricesetting').val();
        $('#settings-list').hide('fast');
        return false;
      });

      var itemBox = new ItemBox(); new HoverBox(itemBox);

      $(function() {
        var accentMap = {
          'ä': 'a',
          'é': 'e',
          'ò': 'o',
          'ü': 'u',
          'Ü': 'U'
        };

        var normalize = function(term) {
          var ret = "";
          for (var i = 0; i < term.length; i++)
            ret += accentMap[term.charAt(i)] || term.charAt(i);
          return ret;
        };

        $.getJSON('/suggest', function(data) {
          searchBox.autocomplete({
            delay: 50,
            minLength: 2,
            source: function(request, response) {
              var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
              response(function() {
                var result = [];
                for (var i = 0; i < data[1].length; i++) {
                  var name = data[1][i];
                  if (matcher.test(name) || matcher.test(normalize(name)))
                    result.push({label: name, value: data[3][i]});
                }
                return result;
              }());
            },
            focus: function(event, ui) {
              $(this).val(ui.item.label);
              return false;
            },
            select: function(event, ui) {
              $(this).val(ui.item.label);

              $.get(ui.item.value, function(data) {
                var searchItems = $('#searchitems');
                if (searchItems.children().length == 5)
                  searchItems.children().first().remove();

                var item = $(data).find('.item').css('display', 'inline-block');
                searchItems.append(item.parent());
                new HoverBox(item[0], itemBox);
                // item.click() doesn't work in Steam browser
                itemBox.show(item[0]);

                ga('send', 'event', 'Items', 'Search', ui.item.label);
              });
              return false;
            }
          });
        });
      });

      if (window.external && 'IsSearchProviderInstalled' in window.external)
        if (!window.external.IsSearchProviderInstalled("{{homepage}}"))
          $('#addsearch').show();
    });
  </script>
{% endblock %}
