{% extends 'base.html' %}
{% from 'macros.html' import showitem %}

{% block title %}{{item['name']}}{% endblock %}
{% block description %}{{description}}{% endblock %}

{% block style %}
<style>
  header { height: 10px; }
</style>
{% endblock %}

{% block container %}
  <h2 id="back"><a href="/">{% include 'logo.html' %}</a></h2>
  {% include 'search-form.html' %}
  <div class="itembox" style="display: block; overflow: hidden"{% if item['description'] %} title="{{item['description']}}"{% endif %}>
    <h2 class="itemname">{{item['name']}}</h2>
    {% if item['marketprice']['backpack.tf'] %}
    <span class="pricesource">Backpack.tf</span>
    <h3 class="prices">{% for quality, value in item['marketprice']['backpack.tf'].items() %}
      <span class="{{quality|lower|replace('\'', '')}}">{{quality}}</span>: {{value}}<br>
    {% endfor %}</h3>
    {% endif %}
    {% if item['image_large'] %}<img src="{{item['image_large']}}" alt="{{item['name']}}">{% endif %}
  </div>
  <div style="display: none">{{ showitem(item) }}</div>
  {{ super() }}
{% endblock %}

{% block script %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "{{item['name']}}",
    "image": "{{item['image_large']}}",
    "description": "{{item['description']}}",
    "mpn": "{{item['index']}}",
    "brand": {
      "@type": "Thing",
      "name": "TF2"
    }{% if item['storeprice'] %},
    "offers": {
      "@type": "Offer",
      "priceCurrency": "USD",
      "price": "{{item['storeprice']}}",
      "seller": {
        "@type": "Organization",
        "name": "Valve"
      }
    }{% endif %}
  }
</script>
<script>
  var itemBox = new ItemBox(false);
  itemBox.show(document.getElementsByClassName('item')[0]);
</script>
{% endblock %}
