{% extends 'base.html' %}
{% from 'macros.html' import showitem %}

{% block title %}{{item['name']}}{% endblock %}
{% block description %}{{description}}{% endblock %}

{% block style %}
<style>
  header { height: 1rem; }
</style>
{% endblock %}

{% block container %}
  <a id="back" href="/">{% include 'logo.html' %}</a>
  {% include 'search-form.html' %}
  {{ super() }}
{% endblock %}

{% block body %}
<div class="itembox" style="display: block; overflow: hidden"{% if item['description'] %} title="{{item['description']}}"{% endif %}>
  <h2 class="itemname">{{item['name']}}</h2>
  {% if item['marketprice']['backpack.tf'] %}
  <span class="pricesource">Backpack.tf</span>
  <h3 class="prices">{% for quality, value in item['marketprice']['backpack.tf'].items() %}
    <span class="{{quality|lower|replace('\'', '')}}">{{quality}}</span>: {{value}}<br>
  {% endfor %}</h3>
  {% endif %}
  {% if item['image_large'] %}<img src="{{item['image_large']}}" alt="{{item['name']}}">{% endif %}
</div>
<div hidden>{{ showitem(item) }}</div>
{% endblock %}

{% block script %}
{% if item['storeprice'] %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": "{{item['name']}}",
    "image": "{{item['image_large']}}",
    "description": "{{item['description']}}",
    "mpn": "{{item['index']}}",
    "brand": {
      "@type": "Brand",
      "name": "TF2"
    },
    "offers": {
      "@type": "Offer",
      "priceCurrency": "USD",
      "price": "{{item['storeprice']}}",
      "availability": "https://schema.org/InStock",
      "seller": {
        "@type": "Organization",
        "name": "Valve"
      }
    }
  }
</script>
{% endif %}
<script>
  var itemBox = new ItemBox(false);
  itemBox.show(new Item(document.getElementsByClassName('item')[0]));
</script>
{% endblock %}
