{% extends 'base.html' %}
{% from 'macros.html' import showitems, getcount %}

{% block title %}{{query}}{% endblock %}
{% block description %}Search results for "{{query}}"{% endblock %}

{% block meta %}
  <meta name="viewport" content="width=1100" />
{% endblock %}

{% block header %}
  <h1 id="back"><a href="/">&lt;</a></h1>
  <h1 id="results">{% block heading %}{% endblock %}</h1>
  <form action="/search" style="position: absolute; top:20px; right: 20px;">
    <input type="search" placeholder="Search" name="q" value="{{query}}" style="font-size: 1.4em;">
    <input type="submit" value="Search" class="button">
  </form>
{% endblock %}

{% block script %}
  <script>var itemBox = new ItemBox(); new HoverBox(itemBox)</script>
{% endblock %}
