{% macro showitem(item, qualities) %}
<a href="/{{item['name']|slugify}}" class="item{% for quality in qualities %} quality-{{quality}}{% endfor %}" title="{{item['name']}}" data-index="{{item['index']}}" data-url="/{{item['name']|slugify}}"{% if item['image_large'] %} data-image="{{item['image_large']}}"{% endif %} data-level="{{item['level']}}"{% for i in ['classes','tags'] %}{% if item[i] %} data-{{i}}="{{item[i]|join(',')}}"{% endif %}{% endfor %}{% for i in ['storeprice','description'] %}{% if item[i] %} data-{{i}}="{{item[i]}}"{% endif %}{% endfor %}{% for i in item['marketprice'] %}{% if item['marketprice'][i] %} data-{{i}}="{{item['marketprice'][i]|replace("'", '"')}}"{% endif %}{% endfor %}{% if 'i' in item %} data-i="{{item['i']}}"{% endif %}>
{% if item['image'] %}<img src="{{item['image']}}" alt="{{item['name']}}" height="98">{% endif %}
{% if item['blueprints'] %}
<div class="prints" hidden>
{%- for b in item['blueprints'] %}
<div data-chance="{{b['chance']}}">
  {%- for i in b['required'] %}
  <span title="{{i['name']}}"{% if 'index' in i %} data-index="{{i['index']}}" data-url="/{{i['name']|slugify}}"{% endif %} data-image="{{i['image']}}" data-count="{{i['count']}}"></span>
  {%- endfor %}
</div>
{%- endfor %}
</div>
{% endif %}

{%- if item['attributes'] %}
<div class="attrs" hidden>
<ul>
{% for a in item['attributes'] %}
<li class="{{a['type']}}">{{a['description']}}</li>
{% endfor %}
</ul>
</div>
{% endif %}
</a>
{%- endmacro %}

{% macro getcount(length, unit) %}
{{'{:,}'.format(length)}} {{unit}}{% if length != 1 %}s{% endif %}
{% endmacro %}

{% macro showitems(items, inline=False, qualities={}) %}
<ul class="items{% if inline %} inline{% endif %}">
{% for item in items %}
<li>{{showitem(item, [item['quality']] if 'quality' in item else qualities.get(item['index'], []))}}</li>

{% endfor %}
</ul>
{% endmacro %}

{% macro showsearchlinks(stringlist) %}
{% for string in stringlist %}
<li><a href="/search/{{string|slugify}}">{{string}}</a></li>
{% endfor %}
{% endmacro %}

{% macro parseprice(price) %}
{% set tokens = price.split(' ') %}
{% set denom = tokens.pop() %}
{% if denom.startswith('Refined') or denom.startswith('Key') %}
{% for token in tokens %}
{% if token == '-' %}
-
{% else %}
<a href="/search?q={{token|urlencode}}%20{{denom|urlencode}}">{{token}}</a>
{% endif %}
{% endfor %}
{{denom}}
{% else %}
{{price}}
{% endif %}
{% endmacro %}

{% macro getblueprintitemurl(item) %}
{% if 'index' in item %}
/{{item['name']|slugify}}
{%- else %}
{% set name = item['name'].replace('Any ', '').replace('Spy Watch', 'PDA2 Weapon') %}
{% if name.split(' ') | length > 2 %}
{% set name = name.replace('Weapon', 'Set') %}
{% endif %}
/search?q={{name|urlencode}}
{%- endif %}
{% endmacro %}

{% macro parseitemdescription(description) %}
{% set parts = description.split('---') %}
{% if parts | length > 1 %}
{{parts[0]}}
{% set items = parts[1].split('\n') %}
<ul style="white-space: initial; margin: 0">
{% for name in items %}
<li><a href="/{{name|slugify}}">{{name}}</a></li>
{% endfor %}
</ul>
{% else %}
{{description}}
{% endif %}
{% endmacro %}
