{% macro showitem(item, showthumb=True) %}
{% set style = "background-image:url({})".format(item['image']) if showthumb else "display: none" %}
<div class="{% if 'quality' in item %}quality-{{item['quality']}} {% endif %}item" title="{{item['name']}}" style="{{style}}" data-index="{{item['index']}}" data-image="{{item['image_large']}}"{% for i in ['classes','tags'] %}{% if item[i] %} data-{{i}}="{{item[i]|join(',')}}"{% endif %}{% endfor %}{% for i in ['storeprice','description'] %}{% if item[i] %} data-{{i}}="{{item[i]}}"{% endif %}{% endfor %}{% for i in ['spreadsheet','backpack.tf'] %}{% if item['marketprice'][i] %} data-{{i}}="{{item['marketprice'][i]|replace("'", '"')}}"{% endif %}{% endfor %}{% if 'i' in item %} data-i="{{item['i']}}"{% endif %}>
{%- for b in item['blueprints'] %}
<ul data-chance="{{b['chance']}}" style="display:none">
  {%- for i in b['required'] %}
  <li title="{{i['name']}}"{% if i['index'] %} data-index="{{i['index']}}"{% endif %} data-image="{{i['image']}}" data-count="{{i['count']}}"></li>
  {%- endfor %}
</ul>
{%- endfor %}

<div><span style="color: gray">{{item['level']}}</span>
{% for a in item['attributes'] %}
<span class="{{a['type']}}">{{a['description']}}</span>
{% endfor %}
</div>
</div>
{% endmacro %}

{% macro getcount(length, unit) %}
{{length}} {{unit}}{% if length != 1 %}s{% endif %}
{% endmacro %}

{% macro showitems(itemslist, showlength=True) %}
<div class="itemlist">
{% if showlength %}
{% set length = itemslist | length %}
<div style="color: gray; padding-bottom: 20px">{{getcount(length, 'item')}}</div>
{% endif %}
{% for item in itemslist %}
<a href="/item/{{item['index']}}">{{ showitem(item) }}</a>
{%- endfor %}
</div>
{% endmacro %}

{% macro showsearchlinks(stringlist) %}
{% for string in stringlist %}
<a href="/search?q={{string|replace(' ','%20')}}">{{string}}</a><br>
{% endfor %}
{% endmacro %}
