{% extends 'list.html' %}
{% from 'macros.html' import getcount %}

{% block title %}{{query}}{% endblock %}
{% block description %}{{description}}{% endblock %}

{% block heading %}Results{% endblock %}

{% block body %}
{% set issetpage = query.lower().endswith(' set') %}

{% for result in results %}
<section class="search">
  {% if result.title %}
  {%- if result.type == 'set' and not issetpage %}
  <h2><a
      href="/search?q={{result.title|replace('#','%23')|replace(' ','%20')}}%20Set"
      class="glow" target="_blank">{{result.title}}</a></h2>
  {% else %}
  {% set list = result.title.split(':') %}
  {% set quality = list[0] if list|length > 1 %}
  {% set text = list[1] if quality else list[0] %}
  <h2>{% if quality %}<span class="{{quality|lower|replace('\'', '')}}">{{quality}}</span>:{%
    endif %}
    {%- for c in text %}{% if c in ('×', '+', '=') %}<span class="symbol">{{c}}</span>{%
    else %}{{c}}{% endif %}{% endfor %}</h2>
  {% endif -%}
  {% endif %}
  <div class="count">{{getcount(result['items'] | length, 'item')}}</div>
  {{ showitems(result['items'], qualities=qualities) }}
</section>
{%- endfor %}

{%- if not count %}
<h3 style="margin-top:100px; margin-bottom:100px;">No items found</h3>
{%- endif -%}
{% endblock %}

{% block footer %}
{{getcount(count,'result')}} ({{time}} seconds)<br>
{% endblock %}
