{% extends 'list.html' %}
{% from 'macros.html' import getcount %}

{% block title %}{{query}}{% endblock %}
{% block description %}Search results for &quot;{{query}}&quot;{% endblock %}

{% block heading %}Results{% endblock %}

{% block body %}
  {% set issetpage = query.lower().endswith(' set') %}

  {% for result in results %}
  {% if result.title %}
  {%- if result.type == 'set' and not issetpage %}
  <h2><a href="/search?q={{result.title|replace('#','%23')|replace(' ','%20')}}%20Set" class="glow" target="_blank">{{result.title}}</a></h2>
  {% else %}
  <h2>{% set list = result.title.split(':') %}{% if list|length > 1 %}
  <span class="{{list[0]|lower|replace("'", '')}}">{{list[0]}}</span>:{{''.join(list[1:])}}
  {% else %}{{result.title}}{% endif %}</h2>
  {% endif -%}
  {% endif %}
  {{ showitems(result['items']) }}
  {%- endfor %}

  {%- if not count %}
  <h3 style="margin-top:100px; margin-bottom:100px;">No items found</h3>
  {%- endif -%}
{% endblock %}

{% block footer %}
{{getcount(count,'result')}} ({{time}} seconds)<br>
{% endblock %}
