<!DOCTYPE html>
<html>
  <head>
    <title>TF2 Find</title>
    <meta name="description" content="Find TF2 items and quickly get information about crafting blueprints, market prices and more." />
    <meta name="google-site-verification" content="tQE3vSNvF6gI8yGNH4RHNIWKZc8nNGvRdn4adkWf1CQ" />
    <link rel="stylesheet" href="/css/tf2.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/ui-lightness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <style>
      .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
      }
    </style>
    {% include 'analytics.html' %}
  </head>

  <body>
    <div id="container">
      <header style="height: 10px"></header>
      <div id="tips">
        <h3>Tips</h3>
        <p>Search for class items<br>eg: engi hats<br>
        or search for any item<br>eg: meet the medic<br><br>
        Right click on search box and click "Add as search engine..." if you use Chrome</p>
      </div>
      <div id="body">
      <h1 style="margin-top:200px; background-color: rgba(255, 255, 255, 0.02); display: inline-block;">TF2 Find</h1>
      <form action="/search">
        <input name="q" id="inputBox" type="search" placeholder="Search" size="30" style="margin-top: 30px; font-size:1.5em;">
        <input type="submit" value="Search" class="button">
      </form>
      </div>
      <footer>{% include 'footer.html' %}</footer>
    </div>
  <script>document.getElementById('inputBox').focus()</script>
  <script>$.getJSON('/',{items: 'all'}, function (data) {$("#inputBox").autocomplete({source: data, autoFocus: true, delay: 50, minLength: 2})})</script>
  </body>
</html>
