<!DOCTYPE html>
<html>
  <head>
    <title>{{item['name']}} - TF2 Find</title>
    <meta name="description" content="{{description}}" />
    <link rel="stylesheet" href="/css/tf2.css">
    <script src="/scripts/tf2.js"></script>
    {% include 'analytics.html' %}
  </head>

  <body>
    <div id="container">
      <h1 id="back"><a href="/">&lt;</a></h1>
      <div id="hoverbox"></div>
      <div id="itembox"></div>
      {% from 'macros.html' import showitem %}
      {{ showitem(item,False) }}
      <script>showiteminfo(document.getElementById('{{item['index']}}'))</script>
      <footer>{% include 'footer.html' %}</footer>
    </div>
  </body>
</html>
