<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{item['name']}} - TF2 Find</title>
    <meta name="description" content="{{description}}" />
    <link rel="stylesheet" href="/css/tf2.css">
    <link rel="stylesheet" href="/css/animate-custom.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="/scripts/tf2.js"></script>
    {% include 'analytics.html' %}
  </head>

  <body>
    <div id="container">
      <h1 id="back"><a href="/">&lt;</a></h1>
      {% from 'macros.html' import showitem %}
      {{ showitem(item, False) }}
      <footer>{% include 'footer.html' %}</footer>
    </div>
    <script>
      var itemBox = new ItemBox(false);
      itemBox.show(document.getElementsByClassName('item')[0]);
    </script>
  </body>
</html>
